<nav>
  <div class="dropdown">
    <span><a href="/" class="current">
      {% if page.layout != "default" %}
        Home
      {% endif %}
      {% for item in site.data.navigation %}
        {% if page.url == item.link %}
          {{ item.name }}
        {% endif %}
      {% endfor %}
    </a></span>
    <div class="dropdown-content">
      <ul>
        {% for item in site.data.navigation %}
        <li>
          <a href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
